.account
{
    &Container
    {
        direction: ltr;

        display: grid;
        grid-template-rows: 100vh;
        grid-template-columns: [aside-start] 27rem [aside-end content-start] 1fr [content-end];

        position: relative;

        margin: 0 auto;
        padding: 17rem 1rem 0;
        height: 95vh;
        width: 100%;
        max-width: 150rem;
    }

    &Aside
    {
        grid-template: aside-start / aside-end;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        max-height: calc(90vh - 17rem);
        position: relative;

        &::before
        {
            content: "";

            position: absolute;
            top: 0;
            right: 0;

            background: var(--base-primary-lighter);
            width: .2rem;
            height: 100%;
        }

        &Header
        {
            padding-bottom: 3.5rem;
            font-size: 3.5rem;
            font-weight: bolder;
            color: var(--color-base-text-bolder);
        }

        &List
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            height: 100%;

            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar
            {
                display: none;
            }

            &Item
            {
                position: relative;

                font-size: 2rem;
                height: fit-content;
                width: 100%;
                font-weight: lighter;
                border-right: .2rem solid transparent;
                color: var(--color-base-text-bold);
                cursor: pointer;
                transition: all .2s;

                & a
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    padding: 1.25rem 0;
                    width: 100%;
                    height: 100%;
                }

                &Title
                {
                    font-size: 1.5rem;
                    height: fit-content;
                    width: 100%;
                    font-weight: lighter;
                    border-right: .2rem solid transparent;
                    color: var(--color-base-text-lighter);
                    margin: 5rem 0 1rem;

                    &:first-child
                    {
                        margin-top: 0;
                    }
                }

                &::before
                {
                    content: "";

                    position: absolute;
                    top: 0;
                    right: 0;

                    transition: all .2s;
                    opacity: .25;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                }

                &:hover
                {
                    border-color: var(--color-base-text);

                    &::before
                    {
                        background:
                            transparent
                            linear-gradient(90deg, transparent 0, var(--color-base-text) 100%) 0 0
                            no-repeat padding-box;
                    }
                }

                &Active
                {
                    border-color: var(--color-primary);

                    &::before
                    {
                        background:
                            transparent
                            linear-gradient(90deg, transparent 0, var(--color-primary-light) 100%) 0 0
                            no-repeat padding-box;
                    }
                }

                &Logout
                {
                    margin-top: 3rem;
                    color: var(--red);

                    &:hover
                    {
                        border-color: var(--red);

                        &::before
                        {
                            background:
                                transparent
                                linear-gradient(90deg, transparent 0, var(--red) 100%) 0 0
                                no-repeat padding-box;
                        }
                    }
                }
            }
        }
    }

    &Content
    {
        grid-template: content-start / content-end;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        padding-left: 6rem;
        height: 100%;
        max-height: calc(90vh - 17rem);
        width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar
        {
            display: none;
        }

        &Header
        {
            font-size: 3rem;
        }

        &Realms
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;

            &Item
            {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 1rem 2rem;
                font-weight: 500;
                font-size: 1.25rem;
                cursor: pointer;
                background: var(--base-primary-dark);
                transition: all .2s;

                &:hover
                {
                    background: var(--base-primary-darker);
                }

                &Active
                {
                    color: var(--base-primary-dark);
                    background: var(--color-primary-dark);

                    &:hover
                    {
                        background: var(--color-primary);
                    }
                }
            }
        }

        &List
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            height: fit-content;

            &Grid
            {
                &1
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2rem;

                    width: 100%;
                    height: fit-content;
                }

                &2
                {
                    display: grid;
                    grid-template-rows: repeat(auto-fit, auto);
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2rem;

                    width: 100%;
                    height: fit-content;

                    & > p
                    {
                        font-weight: normal;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        &Item
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 100%;
            height: 100%;
            background: var(--base-primary-light);

            &Character
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5rem;

                width: 100%;
                height: 15rem;

                & > ul
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;

                    width: 100%;
                    height: 100%;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;

                        & > p
                        {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            font-size: 2rem;
                            color: var(--color-primary);
                            font-weight: bold;
                            padding: 1rem 1.5rem;
                            flex: 0 0 40%;
                            max-width: 40%;
                        }

                        & > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            font-size: 2rem;
                            font-weight: lighter;
                            padding: 1rem 1.5rem;
                            flex: 0 0 60%;
                            max-width: 60%;
                        }
                    }
                }

                & [data-text]
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: .5rem;

                    position: relative;

                    width: 100%;
                    height: 100%;
                    border-radius: 15rem;
                    overflow: hidden;

                    & > span
                    {
                        position: absolute;

                        width: 100%;
                        height: 100%;

                        &::after
                        {
                            content: "";

                            opacity: .6;

                            position: absolute;

                            background: black;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & > strong,
                    & > p
                    {
                        position: relative;
                        z-index: 1;
                        font-size: 1.25rem;
                        font-weight: lighter;
                    }

                    & > strong
                    {
                        font-size: 2.5rem;
                        font-weight: bold;
                    }
                }

                &Options
                {
                    display: grid;
                    grid-gap: 1rem;

                    padding: 3rem 0;
                    width: 100%;
                    height: fit-content;

                    & > div
                    {
                        width: 100%;

                        & > button,
                        & > a
                        {
                            width: 100%;
                        }
                    }

                    & > div:nth-child(1)
                    {
                        grid-column: 1 / 2;
                        grid-row: 1;
                    }
                    & > div:nth-child(2)
                    {
                        grid-column: 2 / 3;
                        grid-row: 1;
                    }
                    & > div:nth-child(3)
                    {
                        grid-column: 1 / 2;
                        grid-row: 2;
                    }
                    & > div:nth-child(4)
                    {
                        grid-column: 2 / 3;
                        grid-row: 2;
                    }
                    & > div:nth-child(5)
                    {
                        grid-column: 1 / 3;
                        grid-row: 3;
                    }
                }

                & svg
                {
                    position: relative;
                    z-index: 1;

                    height: 12rem;
                    width: 12rem;
                    min-height: 12rem;
                    min-width: 12rem;

                    & > path
                    {
                        stroke: var(--blue);

                        &:first-child
                        {
                            stroke: var(--color-base-text);
                        }
                    }
                }

                &[data-faction='Horde']
                {
                    & path
                    {
                        stroke: var(--red);
                    }
                }
            }

            & > div
            {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                width: 100%;
                height: fit-content;
                padding: 2rem 6rem;
                margin: 0 auto auto;

                @media only screen and (max-width: 1500px)
                {
                    padding: 2rem 3rem;
                }

                & > table
                {
                    width: 100%;
                    border-collapse: collapse;

                    & thead th
                    {
                        border-bottom: .125rem solid var(--base-primary-dark);
                        color: var(--color-primary);
                        font-weight: 700;
                    }

                    & td,
                    & tr
                    {
                        border-top: .0625rem solid var(--base-primary-lighter);
                        padding: 2rem 3rem;
                        font-size: 2rem;
                        vertical-align: top;
                    }

                    & td
                    {
                        font-weight: 400;
                    }

                    & tr
                    {
                        border-top: none;
                    }

                    & tr a
                    {
                        color:#979899
                    }
                    & tr a:hover
                    {
                        color:#abacad;
                    }

                    & *
                    {
                        border-collapse: collapse;
                        padding: 1.5rem 1rem;
                        text-align: center;
                    }
                }

                &[data-redeem]
                {
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    & > div
                    {
                        width: 100%;
                        max-width: 35rem;

                        & > button
                        {
                            width: 100%;
                        }
                    }
                }

                & > div[data-container]
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;

                    padding: 1rem 0 3rem;
                    height: fit-content;
                    width: 100%;

                    & > span
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 12rem;
                        width: 12rem;
                        min-height: 12rem;
                        min-width: 12rem;
                        border-radius: 50rem;
                        overflow: hidden;
                    }

                    & > div[data-profile]
                    {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 1rem;

                        & > h2
                        {
                            font-size: 2rem;
                        }
                    }
                }

                & > div[data-security]
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 1rem 0 3rem;

                    & svg
                    {
                        height: 12rem;
                        width: 12rem;
                        min-height: 12rem;
                        min-width: 12rem;

                        & > path
                        {
                            stroke: var(--color-primary);

                            &:first-child
                            {
                                stroke: var(--color-base-text);
                            }
                        }
                    }

                    & [data-text]
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: .5rem;

                        & *
                        {
                            font-weight: 400;
                            text-align: center;
                        }

                        & > strong
                        {
                            font-weight: 500;
                            font-size: 2rem;
                        }
                    }
                }

                & > ul[data-info]
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 3rem;

                    width: 100%;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        width: 100%;
                        font-size: 2rem;

                        & > p
                        {
                            font-weight: normal;
                            color: var(--color-base-text-bolder);
                            flex: 0 0 35%;
                            max-width: 35%;
                        }

                        & > span
                        {
                            font-weight: 400;
                            flex: 0 0 65%;
                            max-width: 65%;
                        }
                    }
                }

                & > ul[data-security]
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 1.5rem;

                    width: 100%;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        width: 100%;
                        font-size: 2rem;

                        & > a,
                        & > [data-link]
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 100%;
                            padding: 1rem 3rem;
                            background: var(--base-primary-lighter);
                            font-weight: lighter;
                            font-size: 1.75rem;
                            transition: all .1s;
                            cursor: pointer;

                            &:hover
                            {
                                opacity: .75;
                            }

                            & > p
                            {
                                text-align: center;
                                flex: 0 0 70%;
                                max-width: 70%;
                                font-weight: 500;
                            }

                            & > span
                            {
                                text-align: center;
                                flex: 0 0 30%;
                                max-width: 30%;
                                font-size: 1.5rem;
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }

            & > header
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 2rem 3rem;
                width: 100%;
                height: fit-content;
                font-size: 2rem;
                background: var(--base-primary-lighter);
                color: var(--color-base-text-bold);

                & > h3
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1rem;

                    text-transform: uppercase;

                    & > i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 5rem;
                        background: var(--gray);

                        &[data-online='true']
                        {
                            background: var(--green-light);
                        }
                    }
                }

                & > a
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    font-weight: lighter;
                    font-size: 1.5rem;
                    color: var(--color-base-text-light);
                    transition: all .2s;

                    &:hover
                    {
                        color: var(--color-base-text-lighter);
                    }
                }
            }
        }
    }
}
