.home
{
    &Header
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8rem;

        position: relative;
        z-index: 90;

        width: 100%;
        height: 100vh;
        overflow: hidden;

        @media only screen and (max-width: 1000px)
        {
            height: fit-content;
        }

        &::after
        {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;

            width: 100%;
            height: .25rem;
            opacity: .5;
            background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, var(--color-primary) 50%, rgb(2 0 36 / 0%) 100%);
        }

        &Container
        {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;

            position: relative;
            z-index: 90;

            padding-top: 10rem;
            width: 100%;

            @media only screen and (max-width: 1000px)
            {
                flex-direction: column;
            }
        }

        &Swiper
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100vw;
            height: 20rem;
            overflow: visible;

            @media only screen and (max-width: 1000px)
            {
                margin: 5rem 0;
            }

            @media only screen and (max-width: 800px)
            {
                width: 90vw;
            }
        }

        &Item
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            transform: scale(.8);

            height: 100%;
            width: 100%;

            margin: auto;

            transition: all .2s;

            & > div
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                border: .25rem solid var(--color-primary);
                padding: 1rem;

                & > i
                {
                    position: absolute;

                    width: 4rem;
                    height: 4rem;
                    min-width: 4rem;
                    min-height: 4rem;
                    max-width: 4rem;
                    max-height: 4rem;

                    & > span
                    {
                        position: absolute;

                        background: var(--color-primary);
                        box-shadow: 0 0 1rem 0 var(--color-primary);
                    }

                    &[data-top_right]
                    {
                        top: -.5rem;
                        right: -.5rem;

                        & > span
                        {
                            top: 0;

                            &:first-child
                            {
                                width: 100%;
                                height: .75rem;
                                max-height: .75rem;
                                min-height: .75rem;
                            }

                            &:last-child
                            {
                                right: 0;

                                width: .75rem;
                                max-width: .75rem;
                                min-width: .75rem;
                                height: 100%;
                            }
                        }
                    }

                    &[data-top_left]
                    {
                        top: -.5rem;
                        left: -.5rem;

                        & > span
                        {
                            top: 0;

                            &:first-child
                            {
                                width: 100%;
                                height: .75rem;
                                max-height: .75rem;
                                min-height: .75rem;
                            }

                            &:last-child
                            {
                                left: 0;

                                width: .75rem;
                                max-width: .75rem;
                                min-width: .75rem;
                                height: 100%;
                            }
                        }
                    }

                    &[data-bottom_left]
                    {
                        bottom: -.5rem;
                        left: -.5rem;

                        & > span
                        {
                            bottom: 0;

                            &:first-child
                            {
                                width: 100%;
                                height: .75rem;
                                max-height: .75rem;
                                min-height: .75rem;
                            }

                            &:last-child
                            {
                                left: 0;

                                width: .75rem;
                                max-width: .75rem;
                                min-width: .75rem;
                                height: 100%;
                            }
                        }
                    }

                    &[data-bottom_right]
                    {
                        bottom: -.5rem;
                        right: -.5rem;

                        & > span
                        {
                            bottom: 0;

                            &:first-child
                            {
                                width: 100%;
                                height: .75rem;
                                max-height: .75rem;
                                min-height: .75rem;
                            }

                            &:last-child
                            {
                                right: 0;

                                width: .75rem;
                                max-width: .75rem;
                                min-width: .75rem;
                                height: 100%;
                            }
                        }
                    }
                }

                & > span
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    height: 100%;

                    & > span[data-background]
                    {
                        position: absolute;

                        width: 100%;
                        height: 100%;
                    }

                    & > span
                    {
                        margin-right: 2rem;
                        width: 20rem;
                        height: 20rem;

                        @media only screen and (max-width: 1150px)
                        {
                            width: 15rem;
                            height: 15rem;
                        }
                    }

                    & > div
                    {
                        width: 100%;
                        height: 100%;

                        & [data-stats]
                        {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 1rem;

                            position: relative;

                            height: 100%;
                            padding: 0 2rem;

                            @media only screen and (max-width: 1250px)
                            {
                                gap: .5rem;
                            }

                            & > h5
                            {
                                font-size: 4rem;
                                font-weight: bolder;
                                margin: auto;
                                margin-left: 0;

                                @media only screen and (max-width: 800px)
                                {
                                    font-size: 3rem;
                                }
                            }

                            & > span
                            {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: .75rem;

                                font-size: 1.5rem;
                                font-weight: normal;
                                padding-top: 2rem;

                                @media only screen and (max-width: 800px)
                                {
                                    gap: .5rem;
                                    font-size: 1rem;
                                }

                                & > i
                                {
                                    width: .75rem;
                                    height: .75rem;
                                    background: var(--gray);
                                    border-radius: 10rem;

                                    &[data-online='true']
                                    {
                                        background: var(--green-light);
                                    }
                                }
                            }

                            & > b
                            {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: .75rem;

                                font-size: 1.5rem;
                                font-weight: lighter;
                                margin-bottom: 1rem;

                                @media only screen and (max-width: 800px)
                                {
                                    gap: .5rem;
                                    font-size: 1.25rem;
                                }

                                & > span
                                {
                                    font-size: 2.25rem;
                                    font-weight: bold;

                                    @media only screen and (max-width: 800px)
                                    {
                                        font-size: 2rem;
                                    }
                                }
                            }

                            & > p
                            {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: .75rem;

                                font-size: 1.75rem;

                                & > i
                                {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    font-size: 1.5rem;
                                    font-style: normal;
                                    font-weight: bold;
                                    width: 4rem;
                                    height: 4rem;
                                    background: var(--white-shadow);
                                    border-radius: 10rem;

                                    &[data-online='true']
                                    {
                                        background: var(--green-light);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &Active
            {
                transform: scale(1);
            }
        }

        &Video
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            position: absolute;

            height: 100%;
            width: 100%;
            background: var(--base-primary-light);

            & > video
            {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);

                min-width: 100vw;
                min-height: 130vh;

                @media only screen and (max-width: 1000px)
                {
                    min-width: 150vw;
                    min-height: 180vh;
                }
            }
        }

        &Filter
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            width: 100%;
            height: 100%;

            background: radial-gradient(circle, rgb(0 212 255 / 0%) 0%, var(--base-primary-dark) 100%);

            &2
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                z-index: 1;
                bottom: 0;

                width: 100%;
                height: 50%;

                background: linear-gradient(0deg, var(--base-primary) 0%, rgb(253 45 45 / 0%) 100%);
            }
        }

        &Hero
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40%;
            height: 100%;

            @media only screen and (max-width: 1000px)
            {
                padding-top: 5rem;
                margin: 0 auto;
            }

            @media only screen and (max-width: 650px)
            {
                width: 100%;
                max-height: 30vh;
                padding: 5rem 2rem 0;
            }

            & > img
            {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                max-height: 50vh;

                animation: animation-3d 3s infinite;

                @media only screen and (max-width: 650px)
                {
                    height: 100%;
                    max-height: 30vh;
                    max-width: 100%;
                }
            }
        }

        &Content
        {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;

            position: relative;
            z-index: 2;
            margin: auto 0;

            max-width: 30%;

            @media only screen and (max-width: 1480px)
            {
                max-width: 40%;
            }

            @media only screen and (max-width: 1060px)
            {
                max-width: 50%;
            }

            @media only screen and (max-width: 1000px)
            {
                max-width: 100%;
                padding: 2rem 1rem;
            }

            & > h1
            {
                color: var(--color-primary-lighter);
                font-weight: lighter;
                font-size: 10rem;
                font-family: warcraft, sans-serif;

                @media only screen and (max-width: 750px)
                {
                    font-size: 8rem;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 6rem;
                }
            }

            & > p
            {
                color: var(--color-base-text-primary);
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 3.5rem;

                @media only screen and (max-width: 750px)
                {
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }

            @media only screen and (max-width: 1000px)
            {
                & > div
                {
                    margin: 0 auto;
                }
            }

            & a
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                font-size: 2rem;
                height: 7rem;
                width: 27rem;
                color: var(--color-base-text-primary);
                text-shadow: rgb(0 0 0) 0 0 0.3rem, rgb(0 0 0) 0 0.0625rem 0.3rem;
                overflow: auto;
                transition: all .2s;

                &:hover
                {
                    filter: drop-shadow(5px 5px 5px rgb(0 0 0));
                }
            }
        }
    }

    &Blogs
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: auto;

        &::after
        {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;

            width: 100%;
            height: .25rem;
            opacity: .5;
            background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, var(--color-primary) 50%, rgb(2 0 36 / 0%) 100%);
        }

        & > p
        {
            font-family: warcraft, sans-serif;
            margin-bottom: 2rem;
            font-size: 7rem;
            color: var(--color-primary-light);
            text-align: center;

            @media only screen and (max-width: 750px)
            {
                font-size: 5rem;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 4rem;
            }
        }

        &Filter
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            width: 100%;
            height: 100%;

            background: radial-gradient(circle, rgb(0 212 255 / 0%) 0%, var(--base-primary-dark) 70%);

            &::before
            {
                content: '';

                position: absolute;

                width: 100%;
                height: 100%;

                opacity: .85;
                background: var(--base-primary-dark);
            }
        }

        &Header
        {
            width: 60vw;
            height: 5rem;

            margin: 5rem 0;

            background: var(--color-primary) linear-gradient(0deg, var(--color-primary-light) 0%, var(--color-primary) 100%);
            mask: url("../../../public/images/textures/header.svg") no-repeat center;

            @media only screen and (max-width: 600px)
            {
                margin: 2rem 0;
            }

            &[data-reverse]
            {
                transform: rotate(180deg);
            }

            &Image
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                width: 100%;
                height: 100%;
            }
        }

        &List
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            width: 100%;
            height: 60vh;

            @media only screen and (max-width: 650px)
            {
                flex-direction: column-reverse;

                height: fit-content;
            }

            &Content
            {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                position: absolute;
                left: 0;

                width: 100%;

                @media only screen and (max-width: 650px)
                {
                    position: relative;
                }

                &::before
                {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: .35;
                    background: linear-gradient(90deg, var(--color-primary-darker) 0%, rgb(253 45 45 / 0%) 80%);
                }

                &::after
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: .25rem;
                    width: 100%;
                    background: linear-gradient(90deg, var(--color-primary-darker) 0%, rgb(253 45 45 / 0%) 80%);
                }

                & > div
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 3rem;

                    padding: 5rem;
                    margin-left: 20rem;
                    width: 30vw;

                    @media only screen and (max-width: 1450px)
                    {
                        margin-left: 10rem;
                    }

                    @media only screen and (max-width: 1250px)
                    {
                        margin-left: 5rem;
                    }

                    @media only screen and (max-width: 1150px)
                    {
                        padding-left: 0;
                    }

                    @media only screen and (max-width: 1100px)
                    {
                        width: 40vw;
                    }

                    @media only screen and (max-width: 900px)
                    {
                        padding: 4rem 0;
                    }

                    @media only screen and (max-width: 650px)
                    {
                        margin: 0;
                        width: 100%;
                        padding: 5rem 2rem;
                    }

                    & > h3
                    {
                        font-size: 5rem;
                        font-family: warcraft, sans-serif;
                        font-weight: lighter;
                        color: var(--color-primary-lighter);
                        max-width: 100%;
                        word-break: break-all;
                    }

                    & > p
                    {
                        font-size: 2rem;
                        font-weight: lighter;
                        line-height: 3rem;
                        max-width: 100%;
                        word-break: break-all;
                    }
                }
            }

            &Swiper
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                width: 58.75vw;
                height: 60vh;

                @media only screen and (max-width: 1550px)
                {
                    width: 60vw;
                }

                @media only screen and (max-width: 1100px)
                {
                    width: 50vw;
                }

                @media only screen and (max-width: 650px)
                {
                    width: 100%;
                    height: fit-content;
                }

                &Item
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 25rem;
                    width: 20rem;

                    padding: 2rem;

                    position: relative;
                    transition: all .2s;

                    @media only screen and (max-width: 1400px)
                    {
                        height: 22rem;
                        width: 18rem;
                    }

                    & > div
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                        border: .25rem solid var(--color-primary);
                        padding: 1rem;

                        & > i
                        {
                            position: absolute;

                            width: 4rem;
                            height: 4rem;
                            min-width: 4rem;
                            min-height: 4rem;
                            max-width: 4rem;
                            max-height: 4rem;

                            & > span
                            {
                                position: absolute;

                                background: var(--color-primary);
                                box-shadow: 0 0 1rem 0 var(--color-primary);
                            }

                            &[data-top_right]
                            {
                                top: -.5rem;
                                right: -.5rem;

                                & > span
                                {
                                    top: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        right: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-top_left]
                            {
                                top: -.5rem;
                                left: -.5rem;

                                & > span
                                {
                                    top: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        left: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-bottom_left]
                            {
                                bottom: -.5rem;
                                left: -.5rem;

                                & > span
                                {
                                    bottom: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        left: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-bottom_right]
                            {
                                bottom: -.5rem;
                                right: -.5rem;

                                & > span
                                {
                                    bottom: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        right: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        & > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 100%;
                            height: 100%;
                            background: var(--base-primary);
                            position: relative;
                        }
                    }

                    &Active
                    {
                        height: 40rem;
                        width: 30rem;

                        @media only screen and (max-width: 1400px)
                        {
                            height: 30rem;
                            width: 25rem;
                        }
                    }
                }

                & > div
                {
                    width: 100%;

                    & > div
                    {
                        & > div
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 50rem;
                        }
                    }
                }

            }
        }
    }

    &Features
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        padding: 10rem 0;
        width: 100%;

        &::after
        {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;

            width: 100%;
            height: .25rem;
            opacity: .5;
            background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, var(--color-primary) 50%, rgb(2 0 36 / 0%) 100%);
        }

        & > p
        {
            font-family: warcraft, sans-serif;
            margin-bottom: 2rem;
            font-size: 7rem;
            color: var(--color-primary-light);
            text-align: center;

            @media only screen and (max-width: 750px)
            {
                font-size: 5rem;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 4rem;
            }
        }

        & > ul
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 100%;

            @media only screen and (max-width: 850px)
            {
                gap: 5rem;
            }

            & > li
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;

                width: 100%;
                min-height: 50rem;

                &[data-index='0'],
                &[data-index='2'],
                &[data-index='4']
                {
                    flex-direction: row-reverse;

                    & > i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;

                        height: 70%;
                        width: 100%;

                        &::after
                        {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 20%, rgb(253 45 45 / 0%) 100%);
                        }

                        &::before
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 20%, rgb(253 45 45 / 0%) 100%);
                        }

                        & > span
                        {
                            width: 100%;
                            height: 100%;

                            opacity: .35;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 20%, rgb(253 45 45 / 0%) 100%);
                        }
                    }
                }

                &[data-index='1'],
                &[data-index='3'],
                &[data-index='5']
                {
                    flex-direction: row;

                    & > i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;

                        height: 70%;
                        width: 100%;

                        &::after
                        {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 70%, rgb(253 45 45 / 0%) 100%);
                        }

                        &::before
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 70%, rgb(253 45 45 / 0%) 100%);
                        }

                        & > span
                        {
                            width: 100%;
                            height: 100%;

                            opacity: .35;
                            background: linear-gradient(90deg, rgb(34 41 195 / 0%) 0%, var(--color-primary-darker) 70%, rgb(253 45 45 / 0%) 100%);
                        }
                    }
                }

                @media only screen and (max-width: 850px)
                {
                    flex-direction: column-reverse !important;

                    & > i
                    {
                        bottom: 0;
                    }
                }

                & > div
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 2rem;

                    width: 40%;

                    @media only screen and (max-width: 850px)
                    {
                        width: 100%;
                        max-width: 100%;
                        padding: 0 1rem;
                        padding-bottom: 5rem;
                    }

                    & > h4
                    {
                        font-weight: 600;
                        font-size: 4.5rem;
                        color: var(--color-primary-lighter);
                        font-family: warcraft, sans-serif;
                    }

                    & > p
                    {
                        line-height: 2.75rem;
                        font-weight: 500;
                        font-size: 2rem;
                        max-width: 95%;
                        word-break: break-all;
                    }
                }

                & > span
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    width: 45rem;
                    height: 45rem;
                    border-radius: 50rem;

                    @media only screen and (max-width: 500px)
                    {
                        width: 90%;
                        height: 90%;
                        min-height: 40rem;
                        max-height: 40rem;
                    }

                    & > span
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;

                        width: 30rem;
                        height: 30rem;
                        max-width: 30rem;
                        max-height: 30rem;
                        border-radius: 50rem;
                        overflow: hidden;

                        @media only screen and (max-width: 500px)
                        {
                            width: 25rem;
                            height: 25rem;
                        }

                        @media only screen and (max-width: 400px)
                        {
                            width: 22rem;
                            height: 22rem;
                        }

                        @media only screen and (max-width: 350px)
                        {
                            width: 18rem;
                            height: 18rem;
                        }
                    }

                    & > svg
                    {
                        position: absolute;

                        width: 100%;
                        height: 100%;

                        color: var(--color-primary);
                        filter: drop-shadow(0 0 1.5rem var(--color-primary));

                        margin-left: -3rem;
                        transform: scale(1.6);
                    }
                }
            }
        }
    }

    &Faq
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        padding: 4rem 0;
        width: 100%;

        & > p
        {
            font-family: warcraft, sans-serif;
            margin-bottom: 5rem;
            font-size: 7rem;
            color: var(--color-primary-light);
            text-align: center;
            font-weight: lighter;

            @media only screen and (max-width: 750px)
            {
                font-size: 5rem;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 4rem;
            }
        }

        &List
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
        }

        &Item
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            width: 100%;
            padding: 1.5rem 2.5rem;

            position: relative;
            transition: all .2s;

            border: .25rem solid var(--color-primary);

            & > i
            {
                position: absolute;

                width: 3rem;
                height: 3rem;
                min-width: 3rem;
                min-height: 3rem;
                max-width: 3rem;
                max-height: 3rem;
                transition: all .2s;

                & > span
                {
                    position: absolute;

                    background: var(--color-primary);
                    box-shadow: 0 0 1rem 0 var(--color-primary);
                }

                &[data-top_right]
                {
                    top: -.5rem;
                    right: -.5rem;

                    & > span
                    {
                        top: 0;

                        &:first-child
                        {
                            width: 100%;
                            height: .75rem;
                            max-height: .75rem;
                            min-height: .75rem;
                        }

                        &:last-child
                        {
                            right: 0;

                            width: .75rem;
                            max-width: .75rem;
                            min-width: .75rem;
                            height: 100%;
                        }
                    }
                }

                &[data-top_left]
                {
                    top: -.5rem;
                    left: -.5rem;

                    & > span
                    {
                        top: 0;

                        &:first-child
                        {
                            width: 100%;
                            height: .75rem;
                            max-height: .75rem;
                            min-height: .75rem;
                        }

                        &:last-child
                        {
                            left: 0;

                            width: .75rem;
                            max-width: .75rem;
                            min-width: .75rem;
                            height: 100%;
                        }
                    }
                }

                &[data-bottom_left]
                {
                    bottom: -.5rem;
                    left: -.5rem;

                    & > span
                    {
                        bottom: 0;

                        &:first-child
                        {
                            width: 100%;
                            height: .75rem;
                            max-height: .75rem;
                            min-height: .75rem;
                        }

                        &:last-child
                        {
                            left: 0;

                            width: .75rem;
                            max-width: .75rem;
                            min-width: .75rem;
                            height: 100%;
                        }
                    }
                }

                &[data-bottom_right]
                {
                    bottom: -.5rem;
                    right: -.5rem;

                    & > span
                    {
                        bottom: 0;

                        &:first-child
                        {
                            width: 100%;
                            height: .75rem;
                            max-height: .75rem;
                            min-height: .75rem;
                        }

                        &:last-child
                        {
                            right: 0;

                            width: .75rem;
                            max-width: .75rem;
                            min-width: .75rem;
                            height: 100%;
                        }
                    }
                }
            }

            & > div
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                background-repeat: repeat;
                background-position: center;
                cursor: pointer;

                transition: all .2s;

                & > p
                {
                    position: relative;
                    z-index: 1;

                    transition: all .2s;
                    font-family: warcraft, sans-serif;
                    font-size: 3.5rem;
                    color: var(--white);
                }

                & > i
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    margin: 1rem 2rem;
                    width: 3rem;
                    height: 3rem;
                    border: .2rem solid var(--white);
                    color: var(--white);
                    border-radius: 10rem;
                    font-weight: bolder;
                    font-size: 2rem;
                    transition: all .2s;
                }
            }

            & > p
            {
                font-weight: 400;
                font-size: 2rem;
                height: 0;
                overflow: hidden;
                transition: all .2s;
                max-width: 90%;
                word-break: break-all;
            }

            &Active
            {
                & > div > i
                {
                    rotate: 90deg;
                }

                & > div > p
                {
                    margin-bottom: 2rem;
                }

                & > p
                {
                    height: 10rem;
                    min-height: auto;
                }
            }
        }

        &Filter
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            width: 100%;
            height: 100%;

            opacity: .65;
            background: radial-gradient(circle, rgb(0 212 255 / 0%) 0%, var(--base-primary-dark) 70%);

            &::before
            {
                content: '';

                position: absolute;

                width: 100%;
                height: 100%;

                opacity: .65;
                background: var(--base-primary-dark);
            }
        }

        & > ul
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5rem;

            padding: 0 2rem;
            width: 100%;
            max-width: 80rem;
        }
    }
}

@keyframes animation-3d
{
    0%
    {
        transform: translateY(0);
    }

    50%
    {
        filter: drop-shadow(0 25mm 5mm rgb(0 0 0 / 35%));
        transform: translateY(-25px);
    }

    100%
    {
        transform: translateY(0);
    }
}

@keyframes rotate-animation
{
    0%
    {
        margin-left: -3rem;
        transform: scale(1.6) rotate(0deg);
    }

    100%
    {
        margin-left: 0;
        transform: scale(1.6) rotate(360deg);
    }
}
