.select
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;

    width: 100%;
    max-width: 35rem;

    & > p
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &Option
    {
        padding: 1.25rem 1.5rem;
        background: var(--base-primary-darker);
        cursor: pointer;
        transition: all .2s;
        width: 100%;

        &:hover
        {
            background: var(--base-primary-dark);
        }

        &s
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            position: absolute;
            z-index: 90;
            top: calc(100% + 1rem);

            height: fit-content;
            width: 100%;
            font-size: 1.75rem;
            font-weight: normal;
        }
    }

    &ed
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        font-weight: normal;
        font-size: 1.75rem;
        width: 100%;
        padding: 1rem 1.5rem;
        border: none;
        outline: none;
        color: var(--color-base-text-bold);
        background: var(--base-primary-lighter);
        transition: all .2s;
        cursor: pointer;

        &:hover
        {
            background: var(--base-primary-dark);
        }

        &Active
        {
            background: var(--base-primary-darker);
        }
    }
}
