.home
{
    &Header
    {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        position: relative;
        z-index: 90;

        width: 100%;
        height: 70vh;
        overflow: hidden;

        &:after
        {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;

            width: 100%;
            height: .25rem;
            opacity: .5;
            background: linear-gradient(90deg, rgba(2,0,36,0) 0%, var(--color-primary) 50%, rgba(2,0,36,0) 100%);
        }

        &Video
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            position: absolute;

            height: 70vh;
            background: white;

            & > video
            {
                width: 100vw;

                @media only screen and (max-width: 1280px)
                {
                    width: auto;
                    height: 70vh;
                }
            }
        }

        &Filter
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            width: 100%;
            height: 100%;

            background: radial-gradient(circle, rgba(0,212,255,0) 0%, var(--base-primary-dark) 100%);

            &2
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                z-index: 1;
                bottom: 0;

                width: 100%;
                height: 50%;

                background: rgb(34,41,195);
                background: linear-gradient(0deg, var(--base-primary) 0%, rgba(253,45,45,0) 100%);
            }
        }

        &Hero
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40%;
            height: 100%;

            & > img
            {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                max-height: 50vh;

                animation: animation-3d 3s infinite;
            }
        }

        &Content
        {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;

            position: relative;
            z-index: 2;
            margin: auto 0;

            max-width: 30%;

            & > h1
            {
                color: var(--color-primary-lighter);
                font-weight: lighter;
                font-size: 10rem;
                font-family: 'warcraft', sans-serif;
            }
            & > p
            {
                font-size: 2.5rem;
                font-weight: 400;
                color: var(--color-base-text-bold);
                line-height: 3.5rem;
            }

            & a
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                font-size: 2rem;
                height: 7rem;
                width: 27rem;
                color: rgb(203, 173, 119);
                text-shadow: rgb(0, 0, 0) 0 0 0.3rem, rgb(0, 0, 0) 0 0.0625rem 0.3rem;
                overflow: auto;
                transition: all .2s;

                &:hover
                {
                    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
                    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
                }
            }
        }
    }

    &Blogs
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: auto;


        &:after
        {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;

            width: 100%;
            height: .25rem;
            opacity: .5;
            background: linear-gradient(90deg, rgba(2,0,36,0) 0%, var(--color-primary) 50%, rgba(2,0,36,0) 100%);
        }

        &Filter
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            width: 100%;
            height: 100%;

            background: radial-gradient(circle, rgba(0,212,255,0) 0%, var(--base-primary-dark) 70%);

            &:before
            {
                content: '';

                position: absolute;

                width: 100%;
                height: 100%;

                opacity: .85;
                background: var(--base-primary-dark);
            }
        }

        &Header
        {
            width: 60vw;
            height: 5rem;

            margin: 5rem 0;

            background-color: var(--color-primary);
            background: linear-gradient(0deg, var(--color-primary-light) 0%, var(--color-primary) 100%);
            -webkit-mask: url(../../../public/images/header-image.svg) no-repeat center;
            mask: url(../../../public/images/header-image.svg) no-repeat center;

            &[data-reverse]
            {
                transform: rotate(180deg);
            }

            &Image
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                width: 100%;
                height: 100%;
            }
        }

        &List
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            width: 100%;
            height: 60vh;

            &Content
            {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                position: absolute;
                left: 0;

                width: 100%;

                &:before
                {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: .35;
                    background: linear-gradient(90deg, var(--color-primary-darker) 0%, rgba(253,45,45,0) 80%);
                }

                &:after
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: .25rem;
                    width: 100%;
                    background: linear-gradient(90deg, var(--color-primary-darker) 0%, rgba(253,45,45,0) 80%);
                }

                & > div
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 3rem;

                    padding: 5rem;
                    margin-left: 20rem;
                    width: 30vw;

                    & > h3
                    {
                        font-size: 5rem;
                        font-family: 'warcraft', sans-serif;
                        font-weight: lighter;
                        color: var(--color-primary-lighter);
                    }

                    & > p
                    {
                        font-size: 2rem;
                        font-weight: lighter;
                        line-height: 3rem;
                    }
                }
            }

            &Swiper
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                width: 58.75vw;
                height: 60vh;

                &Item
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 25rem;
                    width: 20rem;

                    padding: 2rem;

                    position: relative;

                    & > div
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                        border: .25rem solid var(--color-primary);
                        padding: 1rem;

                        & > i
                        {
                            position: absolute;

                            width: 4rem;
                            height: 4rem;
                            min-width: 4rem;
                            min-height: 4rem;
                            max-width: 4rem;
                            max-height: 4rem;

                            & > span
                            {
                                position: absolute;

                                background: var(--color-primary);
                                box-shadow: 0 0 1rem 0 var(--color-primary);
                            }

                            &[data-top_right]
                            {
                                top: -.5rem;
                                right: -.5rem;

                                & > span
                                {
                                    top: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        right: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-top_left]
                            {
                                top: -.5rem;
                                left: -.5rem;

                                & > span
                                {
                                    top: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        left: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-bottom_left]
                            {
                                bottom: -.5rem;
                                left: -.5rem;

                                & > span
                                {
                                    bottom: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        left: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }

                            &[data-bottom_right]
                            {
                                bottom: -.5rem;
                                right: -.5rem;

                                & > span
                                {
                                    bottom: 0;

                                    &:first-child
                                    {
                                        width: 100%;
                                        height: .75rem;
                                        max-height: .75rem;
                                        min-height: .75rem;
                                    }

                                    &:last-child
                                    {
                                        right: 0;

                                        width: .75rem;
                                        max-width: .75rem;
                                        min-width: .75rem;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        & > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 100%;
                            height: 100%;
                            background: var(--base-primary);
                            position: relative;
                        }
                    }

                    &Active
                    {
                        height: 40rem;
                        width: 30rem;
                    }
                }

                & > div
                {
                    & > div
                    {
                        & > div
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 50rem;
                        }
                    }
                }

            }
        }
    }

    &Features
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        padding: 10rem 0;
        width: 100%;

        & > p
        {
            font-family: 'warcraft', sans-serif;
            margin-bottom: 2rem;
            font-size: 7rem;
            color: var(--color-primary-light);
            text-align: center;
        }

        & > ul
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 100%;

            & > li
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;

                width: 100%;
                min-height: 50rem;

                &[data-index='0'],
                &[data-index='2'],
                &[data-index='4']
                {
                    flex-direction: row-reverse;

                    & > i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;

                        height: 70%;
                        width: 100%;

                        &:after
                        {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 20%, rgba(253,45,45,0) 100%);
                        }

                        &:before
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 20%, rgba(253,45,45,0) 100%);
                        }

                        & > span
                        {
                            width: 100%;
                            height: 100%;

                            opacity: .35;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 20%, rgba(253,45,45,0) 100%);
                        }
                    }
                }

                &[data-index='1'],
                &[data-index='3'],
                &[data-index='5']
                {
                    flex-direction: row;

                    & > i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;

                        height: 70%;
                        width: 100%;

                        &:after
                        {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 70%, rgba(253,45,45,0) 100%);
                        }

                        &:before
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            height: .25rem;
                            width: 100%;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 70%, rgba(253,45,45,0) 100%);
                        }

                        & > span
                        {
                            width: 100%;
                            height: 100%;

                            opacity: .35;
                            background: linear-gradient(90deg, rgba(34,41,195,0) 0%, var(--color-primary-darker) 70%, rgba(253,45,45,0) 100%);
                        }
                    }
                }

                & > div
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 2rem;

                    max-width: 40%;

                    & > h4
                    {
                        font-weight: 600;
                        font-size: 4.5rem;
                        color: var(--color-primary-lighter);
                        font-family: 'warcraft', sans-serif;
                    }

                    & > p
                    {
                        line-height: 2.75rem;
                        font-weight: 500;
                        font-size: 2rem;
                    }
                }

                & > span
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    width: 45rem;
                    height: 45rem;
                    max-width: 45rem;
                    max-height: 45rem;
                    min-width: 45rem;
                    min-height: 45rem;
                    border-radius: 50rem;

                    & > span
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;

                        width: 30rem;
                        height: 30rem;
                        max-width: 30rem;
                        max-height: 30rem;
                        border-radius: 50rem;
                        overflow: hidden;
                    }

                    & > svg
                    {
                        position: absolute;

                        width: 100%;
                        height: 100%;

                        color: var(--color-primary);
                        filter: drop-shadow(0 0 1.5rem var(--color-primary));

                        margin-left: -3rem;
                        transform: scale(1.6);
                    }
                }
            }
        }
    }
}

@keyframes animation-3d
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        filter: drop-shadow(0 25mm 5mm rgba(0, 0, 0, 0.35));
        transform: translateY(-25px);
    }
    100%
    {
        transform: translateY(0);
    }
}


@keyframes rotate-animation
{
    0%
    {
        margin-left: -3rem;
        transform: scale(1.6) rotate(0deg);
    }

    100%
    {
        margin-left: 0;
        transform: scale(1.6) rotate(360deg);
    }
}
