.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;

    background: var(--color-primary);
    color: var(--white);
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;

    &Frame
    {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        padding: .5rem;

        height: fit-content;
        width: fit-content;
        border: .0625rem solid var(--color-primary);
        transition: all .2s;

        &:hover
        {
            border-color: var(--color-primary-light);
        }

        &[data-type='text']
        {
            border-color: var(--color-base-text-bold);

            &:hover
            {
                border-color: var(--color-base-text-bolder);
            }

            & > button,
            & > a
            {
                color: var(--color-primary);
                background: var(--color-base-text-bolder);

                &:hover
                {
                    background: var(--color-base-text-bold);
                }
            }
        }
    }

    &:hover
    {
        background: var(--color-primary-light);
    }
}
