.tooltip
{
    display: inline-block;

    color: #fff;
    padding: 0.2rem 1.5rem;
    text-align: center;
    font-size: 1.15rem;
    border-radius: 10rem;
    background: #487ffe;
    box-shadow: 0 30px 70px #48609233;

    &::after
    {
        content: "";

        position: absolute;
        top: 100%;
        left: 20%;

        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        box-shadow: 0 30px 70px #48609233;
        border-color: #487ffe transparent transparent;
    }
}

.container
{
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.display--none
{
    display: none !important;
}

.overflow--hidden
{
    overflow-y: hidden !important;;
}

.slide-enter,
.slide-exit
{
    transition: all 1s ease-out;
}

.slide-enter
{
    opacity: 0;
    transform: translateY(100%);
}

.slide-enter.slide-enter-active
{
    opacity: 1;
    transform: translateY(0%);
}

.slide-exit
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transform: translateY(-100%);
}

.slide-exit-active
{
    opacity: 0;
    transform: translateY(-100%);
}
