.footer
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    position: relative;

    width: 100%;
    height: fit-content;
    min-height: 40rem;
    background: var(--base-primary-dark);

    &:after
    {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;

        width: 100%;
        height: .25rem;
        opacity: .5;
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, var(--color-primary) 50%, rgba(2,0,36,0) 100%);
    }

    &Container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;

        &Item
        {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            padding: 7rem 0;

            & > span
            {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                position: relative;

                font-family: 'warcraft', sans-serif;
                font-size: 3.5rem;
                font-weight: lighter;
                color: var(--color-base-text-bolder);

                &[data-border]
                {
                    &:after
                    {
                        content: '';

                        position: relative;

                        margin: 1rem 0 2.5rem .5rem;

                        width: 7rem;
                        height: .25rem;
                        background: var(--color-primary);
                    }
                }
            }

            & > ul[data-links]
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                width: 100%;

                & > li
                {
                    color: var(--color-base-text-light);
                    padding: 1rem 0;
                    font-weight: 400;
                    font-size: 1.75rem;
                    transition: all .2s;

                    &:hover
                    {
                        color: var(--color-base-text-bold);
                    }
                }
            }

            & > ul[data-social]
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;

                margin-top: 1rem;

                & > li
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    width: 4.5rem;
                    height: 4.5rem;
                    min-width: 4.5rem;
                    min-height: 4.5rem;
                    font-size: 2rem;
                    border-radius: 10rem;
                    color: var(--white);
                    transition: all .2s;
                    cursor: pointer;
                    border: .2rem solid var(--color-primary-dark);

                    & > a
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }

                    &:hover
                    {
                        background: var(--color-primary);
                    }
                }
            }

            & > p
            {
                font-weight: lighter;
                font-size: 1.75rem;
                margin-bottom: 3rem;
                color: var(--color-base-text-light);
            }
        }

        & > ul
        {
            display: grid;
            grid-template-rows: repeat(auto-fit, 10rem);
            grid-template-columns: repeat(auto-fit, 10rem);
            gap: 2rem;

            & > li
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;

                & > a
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    height: 100%;
                }
            }
        }

        &Image
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 20rem;
            margin-bottom: 3rem;
        }
    }

    &Navigation
    {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 100%;
        background: var(--base-primary-darker);

        &:after
        {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;

            width: 100%;
            height: .15rem;
            opacity: .1;
            background: linear-gradient(90deg, rgba(2,0,36,0) 0%, var(--white) 50%, rgba(2,0,36,0) 100%);
        }

        &Container
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            width: 100%;
            height: 9rem;

            & > span
            {
                font-weight: 400;
                font-size: 1.5rem;
            }

            & > ul
            {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 2rem;

                font-weight: 500;
                font-size: 1.75rem;
                color: var(--color-primary-lighter);
            }
        }
    }
}
