.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 98;

    width: 100%;
    max-height: 9.5rem;
    background: var(--base-primary-light);

    &::after
    {
        content: '';
        position: absolute;
        bottom: 0;

        width: 100%;
        height: .25rem;
        opacity: .5;
        background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, var(--color-primary) 50%, rgb(2 0 36 / 0%) 100%);
    }

    &Container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
        width: 100%;
        max-width: 160rem;
        padding: 2rem 1.5rem;

        @media only screen and (max-width: 800px)
        {
            display: none;
        }

        &Mobile
        {
            display: none;
            align-items: center;
            justify-content: space-between;

            height: 100%;
            width: 100%;
            max-width: 160rem;
            padding: 2rem 2.5rem;

            @media only screen and (max-width: 800px)
            {
                display: flex;
            }

            & > span > a
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 13rem;
                height: 7rem;
            }

            & > button,
            & > a
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 3rem;
                height: 3rem;
                font-size: 3rem;
                background: transparent;
                color: var(--color-base-text-bold);
                border: none;
                transition: all .2s;
            }
        }

        & > div
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            & > div
            {
                position: relative;

                & > p
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    position: relative;
                    height: fit-content;
                    width: fit-content;
                    border: 0.0625rem solid var(--color-primary);
                    background: var(--color-primary);
                    color: var(--base-primary-dark);
                    transition: all 0.2s;
                    outline: none;
                    padding: 1rem 1.5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover
                    {
                        background: var(--color-primary-light);
                    }
                }

                & > div
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;

                    background: var(--base-primary-darker);
                    height: fit-content;
                    width: 100%;

                    position: absolute;
                    z-index: 90;
                    top: calc(100% + 1rem);
                    font-size: 1.25rem;

                    & > a
                    {
                        font-size: 1.25rem;
                        text-align: center;
                        padding: 1rem 0;
                        width: 100%;
                        cursor: pointer;
                        transition: all .2s;
                        font-weight: lighter;

                        &:hover
                        {
                            background: var(--base-primary);
                        }

                        &[data-active='true']
                        {
                            background: var(--color-primary-darker);
                        }
                    }
                }
            }

            & > span
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                position: relative;
                height: fit-content;
                width: fit-content;
                border: 0.0625rem solid var(--color-primary);
                background: var(--color-primary);
                color: var(--base-primary-dark);
                transition: all 0.2s;
                outline: none;
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
                font-weight: 500;
                cursor: pointer;
            }
        }

        & > a[data-logo]
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 13rem;
            height: 7rem;
        }

        & > ul
        {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.75rem;

            & > li
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                padding: 1rem 3rem;
                font-weight: 500;
                color: var(--color-base-text-primary);

                &[data-active='true']
                {
                    &::before
                    {
                        content: '';
                        position: absolute;

                        width: 100%;
                        height: 100%;
                        opacity: .2;
                        background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, var(--color-primary) 50%, rgb(2 0 36 / 0%) 100%);
                    }
                }

                & > a
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                }
            }
        }
    }
}
